.card {
    width: auto;
}

.subtext {
    font-family: 'Roboto';
    display: block; 
    text-align: center;
}

.images {
    width: 100%;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
}

.title {
    font-size: 2.5em;
}

.subscribe:selected {
    color: white;
    background-color: #03C981;
}

